<section class="background-picture" id="page-cont-contact" >
  <div class="container pt-5 pb-0">
    <h2 class="text-center text-light-grey pt-5"> Contact </h2>
    <div class="row pt-1 pb-3 text-white text-center justify-content-center">
      <div class="col-10 col-md-6 py-4 mb-0">
        <h5> If you have any questions or suggestions, feel free to contact me </h5>
        <h3 class="text-center"> <i class="far fa-envelope"></i> </h3>
      </div>
      <div class="w-100"></div>
      <div class="col-10 col-md-5 pt-0 pb-4 mt-0 mb-5 text-light-grey align-content-center">
        <form action="/contact" method="POST">
          <div class="form-group px-5 pt-3 pb-4 mb-5 rounded container-opacity">
            <label for="email"> <h4> Your email address </h4> </label>
            <input type="email" name="email" class="form-control form-control-sm" id="email">
          </div>
          <div class="form-group px-5 pt-3 pb-4 mb-5 rounded container-opacity">
            <label for="message"> <h4> Your message </h4></label>
            <textarea class="form-control form-control-sm" name="message" rows="5" id="message"></textarea>
          </div>
          {{!-- Conditionally render the msg --}}
          {{#if errorMessage}}
            <div class="text-red my-0"> 
              <h5> {{errorMessage}} </h5> 
            </div>
          {{/if}}
          <div class="mb-0">
            <input class="btn btn-secondary" type="submit" value="Send">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>