<section id="main-content-home" class="[ home ] [ py-5 ]">
  <div class="container text-center py-5 my-5">
    <div class="[ home__title ] [ col-10 offset-1 px-4 py-5 my-5 rounded ]">
      <h1 class="is-light-grey mt-2"> Tracker&shy;tools </h1>
      <h5 class="is-dark-grey mt-4 mb-5">
        The definite ProTracker support for you
      </h5>
    </div>
    <div class="pt-5">
      <a href="#main-content-about" class="btn btn-primary w-25 my-3">
        More...
      </a>
    </div>
  </div>
</section>

<section id="main-content-about">
  <article class="container pt-5 pb-0">
    <header>
      <h2 class="[ home__about__header ] [ text-center pt-5 ]">
        About...Trackertools
      </h2>
    </header>
      <div class="py-3 mb-5">
        <p class="text-justify">
          This collection includes the following tools for the music editor
          <span class="fw-bold">
            <a
              href="https://en.wikipedia.org/wiki/ProTracker"
              class="home__about__link link-primary"
            >
              ProTracker:
            </a>
          </span>
        </p>
        <ul class="home__about__list">
          <li class="mb-2">
            <span class="fw-bold">
              Tone Portamento Step
            </span>
            (calculate tone portamento slide value)
          </li>
          <li class="mb-2">
            <span class="fw-bold">
              Volume Slide Step
            </span>
            (calculate volume slide up or down value)
          </li>
          <li class="mb-2">
            <span class="fw-bold">
              Search Fx Commands
            </span>
            (find effect commands with their pattern position in a Protracker
            module)
          </li>
          <li class="mb-2">
            <span class="fw-bold">
              Used Fx Commands
            </span>
            (overview which effect commands are used in a ProTracker module)
          </li>
        </ul>
        <p>
          These powerful tools will make your work with ProTracker modules more
          comfortable.
        </p>
        <p>
          Have fun with it...
        </p>
      </div>
    </div>
  </article>
</section>