<section class="background-picture py-5" id="mainContentHome">
  <div class="container text-center text-light-grey py-5 my-5">  
    <div class="col-6 offset-3 px-4 py-5 my-5 rounded container-opacity">
      <h1 class="text-light-grey mt-2"> Tracker&shy;tools </h1>
      <h5 class="text-colored mt-4 mb-5"> The definite Protracker support for you </h5>
    </div>
    <div class="pt-5">
      <a href="#mainContentAbout" class="btn btn-primary w-25 my-5"> More about it </a>
    </div>
   
  </div>
</section>

<section id="mainContentAbout">
  <div class="container pt-5 pb-0">
    <h2 class="text-center text-colored pt-5"> About...Tracker Tools </h2>
    <div class="row py-3 justify-content-center">
      <div class="col-10 col-md-9 py-3 mb-5">
        <p class="text-justify">
          This is a collection includes the following Protracker tools:
          <br>
          <br>
          <ul class="no-list-markers">
            <li><span class="fw-bold"> TonePortaStep </span> (calculate complete tone portamento slide) </li>
            <br>
            <li><span class="fw-bold"> VolSlideStep </span> (calculate complete slide up or down) </li>
            <br>
            <li><span class="fw-bold"> SearchFxCmd </span> (find certain fx commands with their complete position in the module) </li>
            <br>
            <li><span class="fw-bold"> UsedFxCmd </span> (overview of which effect commands are used in the module) </li>
          </ul>
          <br>
          I hope that the tools make your work with protracker modules more comfortable.              
          <br>
          <br>
          Have fun with it...
        </p>
      </div>
    </div>
  </div>
</section>