<section class="backgroundPicture py-5" id="mainContentHome">
  <div class="container text-center textLightGrey py-5 my-5">
    <div class="col-6 offset-3 px-4 py-5 my-5 rounded containerOpacity">
      <h1 class="textLightGrey mt-2"> Tracker&shy;tools </h1>
      <h5 class="textColored mt-4 mb-5">
        The definite ProTracker support for you
      </h5>
    </div>
    <div class="pt-5">
      <a href="#mainContentAbout" class="btn btn-primary w-25 my-5">
        More about it
      </a>
    </div>
  </div>
</section>

<section id="mainContentAbout">
  <div class="container pt-5 pb-0">
    <h2 class="text-center textColored pt-5"> About...Trackertools </h2>
    <div class="row py-3 justify-content-center">
      <div class="col-10 col-md-9 py-3 mb-5">
        <p class="text-justify">
          This collection includes the following tools for the music editor
          <a href="https://en.wikipedia.org/wiki/ProTracker" class="link-primary"> ProTracker </a>:
          <br />
          <br />
          <ul class="no-list-markers">
            <li><span class="fw-bold"> TonePortaStep </span>
              (calculate tone portamento slide)
            </li>
            <br />
            <li><span class="fw-bold"> VolSlideStep </span>
              (calculate slide up or down)
            </li>
            <br />
            <li><span class="fw-bold"> SearchFxCmd </span>
              (find effect commands with their position in a module)
            </li>
            <br />
            <li><span class="fw-bold"> UsedFxCmd </span>
              (overview which effect commands are used in a module)
            </li>
          </ul>
          <br />
          These powerful tools will make your work with ProTracker modules more
          comfortable.
          <br />
          <br />
          Have fun with it...
        </p>
      </div>
    </div>
  </div>
</section>