<section id="main-content-home" class="has-background-image py-5">
  <div class="container text-center is-light-grey py-5 my-5">
    <div class="col-10 offset-1 px-4 py-5 my-5 rounded is-container-opacity">
      <h1 class="is-light-grey mt-2"> Tracker&shy;tools </h1>
      <h5 class="is-dark-grey mt-4 mb-5">
        The definite ProTracker support for you
      </h5>
    </div>
    <div class="pt-5">
      <a href="#main-content-about" class="btn btn-primary w-25 my-3">
        More about it
      </a>
    </div>
  </div>
</section>

<section id="main-content-about">
  <article>
    <div class="container pt-5 pb-0">
      <header>
        <h2 class="text-center is-dark-grey pt-5"> About...Trackertools </h2>
      </header>
      <div class="row py-3 justify-content-center">
        <div class="col-10 col-md-9 py-3 mb-5">
          <p class="text-justify">
            This collection includes the following tools for the music editor
            <span class="fw-bold">
              <a
                href="https://en.wikipedia.org/wiki/ProTracker"
                class="link-primary"
              >
                ProTracker:
              </a>
            </span>
          </p>
          <ul class="no-list-markers">
            <li class="mb-2">
              <span class="fw-bold">
                TonePortaStep
              </span>
              (calculate tone portamento slide value)
            </li>            
            <li class="mb-2">
              <span class="fw-bold">
                VolSlideStep
              </span>
              (calculate volume slide up or down value)
            </li>            
            <li class="mb-2">
              <span class="fw-bold">
                SearchFxCmd
              </span>
              (find effect commands with their pattern position in a Protracker module)
            </li>  
            <li class="mb-2">
              <span class="fw-bold">
                UsedFxCmd
              </span>
              (overview which effect commands are used in a ProTracker module)
            </li>
          </ul>
          <p>
            These powerful tools will make your work with ProTracker modules more
            comfortable.
          </p>
          <p>
            Have fun with it...
          </p>
        </div>
      </div>
    </div>
  </article>
</section>