<section>
  <div class="container text-center h-100">
    <h1 class="pt-5 mt-5"> 404 Error </h1>
    <h2 class="mt-2"> This route does not exist on the app! </h2>
    <h3 class="mt-2 mb-5">
      Check if everything is ok! Check your routes to see what might have
      happened
    </h3>
  </div>
</section>