<section class="background-picture" id="contentHome">
  <div class="container text-center text-light-grey pt-5 pb-5">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <span class="navbar-brand mb-0"> TonePortaStep </span>
      <div class="navbar-nav">
        <a class="nav-link" href="#contentAbout"> About </a>
        <a class="nav-link" href="#contentHelp"> Help </a>
      </div>
    </nav>
    <div class="row py-5 justify-content-around">
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded container-opacity" id="sourceNoteContainer" tabindex=0>
        <h4 class="mb-2"> Source Note </h4>
        <select class="btn btn-sm btn-light groupChange" id="sourceNoteSelect" title="Choose a source note">
          <option value="0"> C </option>
          <option value="1"> C# </option>
          <option value="2"> D </option>
          <option value="3"> D# </option>
          <option value="4"> E </option>
          <option value="5"> F </option>
          <option value="6"> F# </option>
          <option value="7"> G </option>
          <option value="8"> G# </option>
          <option value="9"> A </option>
          <option value="10" >A# </option>
          <option value="11"> B </option>
        </select>
        <select class="btn btn-sm btn-light groupChange" id="sourceOctaveSelect" title="Choose an octave for the source note">
          <option value="0"> 1 </option>
          <option value="1"> 2 </option>
          <option value="2"> 3 </option>
        </select>
        <select class="btn btn-sm btn-light groupChange" id="sourceFinetuneSelect" title="Source and destination finetune value are always equal">
          <option value="0"> Finetune 0 </option>
          <option value="1"> Finetune 1 </option>
          <option value="2"> Finetune 2 </option>
          <option value="3"> Finetune 3 </option>
          <option value="4"> Finetune 4 </option>
          <option value="5"> Finetune 5 </option>
          <option value="6"> Finetune 6 </option>
          <option value="7"> Finetune 7 </option>
          <option value="8"> Finetune -8 </option>
          <option value="9"> Finetune -7 </option>
          <option value="10"> Finetune -6 </option>
          <option value="11"> Finetune -5 </option>
          <option value="12"> Finetune -4 </option>
          <option value="13"> Finetune -3 </option>
          <option value="14"> Finetune -2 </option>
          <option value="15"> Finetune -1 </option>
        </select>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded container-opacity" id="destinationNoteContainer" tabindex=0>
        <h4 class="mb-2"> Destination Note </h4>
        <select class="btn btn-sm btn-light groupChange" id="destinationNoteSelect" title="Choose a destination note">
          <option value="0"> C </option>
          <option value="1"> C# </option>
          <option value="2"> D </option>
          <option value="3"> D# </option>
          <option value="4"> E </option>
          <option value="5"> F </option>
          <option value="6"> F# </option>
          <option value="7"> G </option>
          <option value="8"> G# </option>
          <option value="9"> A </option>
          <option value="10"> A# </option>
          <option value="11"> B </option>
        </select>
        <select class="btn btn-sm btn-light groupChange" id="destinationOctaveSelect" title="Choose an octave for the destination note">
          <option value="0"> 1 </option>
          <option value="1"> 2 </option>
          <option value="2"> 3 </option>
        </select>
        <select class="btn btn-sm btn-light groupChange" id="destinationFinetuneSelect"
          title="Source and destination finetune value are always equal">
          <option value="0"> Finetune 0 </option>
          <option value="1"> Finetune 1 </option>
          <option value="2"> Finetune 2 </option>
          <option value="3"> Finetune 3 </option>
          <option value="4"> Finetune 4 </option>
          <option value="5"> Finetune 5 </option>
          <option value="6"> Finetune 6 </option>
          <option value="7"> Finetune 7 </option>
          <option value="8"> Finetune -8 </option>
          <option value="9"> Finetune -7 </option>
          <option value="10"> Finetune -6 </option>
          <option value="11"> Finetune -5 </option>
          <option value="12"> Finetune -4 </option>
          <option value="13"> Finetune -3 </option>
          <option value="14"> Finetune -2 </option>
          <option value="15"> Finetune -1 </option>
        </select>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded container-opacity">
        <h4 class="mb-2"> Song Speed </h4>
        <div>
          <input type="number" class="btn btn-sm btn-light text-center groupChange" id="ticsButton" value="6" min="1" max="31" title="Song speed ranges from 1 to 31">
          <span> tic(s) per row </span>
        </div>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded container-opacity">
        <h4 class="mb-2"> Tone Portamento </h4>
        <div>
          <input type="number" class="btn btn-sm btn-light text-center groupChange" id="commandsButton" value="1" min="1" max="63" title="Number of Tone Portamento commands ranges from 1 to 64">
          <span> command(s) per row </span>
        </div>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded container-opacity">
        <h4 class="mb-2"> Tone Portamento </h4>
        <div>
          <span class="h5 text-colored" id="unitsResult" title="Number of units ranges from hex 01 to ff"> 00 </span>
          <span> unit(s) per command </span>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-10 col-md-5 py-2 mb-5 rounded justify-content-center">
        <div class="row justify-content-around">
          <button type="button" class="btn btn-secondary w-25" id="resetButton" title="Reset to default values"> Reset </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contentAbout">
  <div class="container pt-5 pb-4">
    <h2 class="text-center text-colored pt-5"> About...TonePortaStep </h2>
    <div class="row py-3 justify-content-center">
      <div class="col-10 col-md-9 pt-3 pb-4 mb-0">
        <p class="text-justify">
          The tool <span class="fw-bold"> TonePortaStep </span> is used in conjunction with the music editor
          <span class="fw-bold"> Protracker</span>. This tracker uses the effect command
          <span class="fw-bold"> Tone Portamento </span> which does a linear slide from one note to another. The
          argument for this command is called <span class="fw-bold"> number of units </span> and is given
          as a hex number. This value is added to or substracted of the source note period value.
          <br>
          <br>
          To get the right number of units for a complete tone  slide, this tool is a very comfortable aid.
          <br>
          <br>
          Have fun with it...
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-color-light text-white" id="contentHelp">
  <div class="container pt-5 pb-4">
    <h2 class="text-center text-light-grey pt-5"> TonePortaStep Help </h2>
    <div class="row py-3 justify-content-center">
      <div class="col-10 col-md-9 pt-3 pb-4 mb-0">
        <p class="text-justify">
          The <span class="font-weight-bold"> key quickmode: </span> If your mouse pointer on the desktop is within the
          <span class="fw-bold"> source / destination note field</span>, you can select a note by these keys:
        </p>
        <table class="table table-sm table-borderless text-white">
          <thead>
            <tr>
              <th scope="col"> Note </th>
              <th scope="col"> Keys </th>
              <th scope="col"> Octave </th>
              <th scope="col"> Keys </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> C </td>
              <td> C </td>
              <td> 1 </td>
              <td> 1 </td>
            </tr>
            <tr>
              <td> C# </td>
              <td> Shift-C </td>
              <td> 2 </td>
              <td> 2 </td>
            </tr>
            <tr>
              <td> D </td>
              <td> D </td>
              <td> 3 </td>
              <td> 3 </td>
            </tr>
            <tr>
              <td> D# </td>
              <td> Shift-D </td>
            </tr>
            <tr>
              <td> E </td>
              <td> E </td>
            </tr>
            <tr>
              <td> F </td>
              <td> F </td>
            </tr>
            <tr>
              <td> F# </td>
              <td> Shift-F </td>
            </tr>
            <tr>
              <td> G </td>
              <td> G </td>
            </tr>
            <tr>
              <td> G# </td>
              <td> Shift-G </td>
            </tr>
            <tr>
              <td> A </td>
              <td> A </td>
            </tr>
            <td> A# </td>
            <td> Shift-A </td>
            </tr>
            <tr>
              <td> B </td>
              <td> B </td>
            </tr>
          </tbody>
        </table>
        <p class="text-justify">
          For example if you want to select the note "D#" of the second octave you press these keys: "Shift-D" and then
          "2"
        </p>
      </div>
    </div>
  </div>
</section>

<script src="/js/toneportastep.js"></script>