<section 
  id="contentHome"
  class="backgroundPicture"
>
  <div class="container text-center textLightGrey py-5">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <span class="navbar-brand mb-0"> UsedFxCmd </span>
      <div class="navbar-nav">
        <a 
          href="#contentAbout"
          class="nav-link"
        > 
          About 
        </a>
      </div>
    </nav>
    <div class="row py-5 justify-content-around">
      <div class="col-10 col-md-4 pt-4 pb-2 mb-5 rounded containerOpacity">
        <div class="container input-group mb-3 disable-text-shadow">
          <input 
            type="file" 
            id="inputGroupFile01"
            class="w-75 rounded" class="w-75 rounded"
          >
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-10 col-md-5 py-4 mb-5 rounded containerOpacity">
        <div class="container ufcTableWrap">
          <table class="table table-borderless">
            <thead>
              <tr class="disableTextShadow">
                <th 
                  scope="col" 
                  class="textColored bg-light rounded p-1 text-center"
                > 
                  Used commands 
                </th>
            </thead>
            <tbody 
              id="commandsTableBody"
              class="text-light text-center"
            >
              <!--<tr class"text-left">
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-10 col-md-5 py-4 rounded mb-5 containerOpacity">
        <div class="container ufcTableWrap">
          <table class="table table-borderless">
            <thead>
              <tr class="disableTextShadow">
                <th 
                  scope="col" 
                  class="textDarkGrey bg-light rounded p-1  text-center"
                > 
                  Used extended commands 
                </th>
            </thead>
            <tbody 
              id="extendedCommandsTableBody"
              class="text-light text-center"
            >
              <!--<tr class="text-left">
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
</section>

<section id="contentAbout">
  <article>
    <div class="container pt-5 pb-0">
      <header>
        <h2 class="text-center textColored pt-4"> About... UsedFxCmd </h2>
      </header>
      <div class="row py-3 justify-content-center">
        <div class="col-10 col-md-9 pt-3 pb-4 mb-0">
          <p class="text-justify">
            The tool 
            <span class="fw-bold"> 
              SearchFxCmd 
            </span> 
            is used in conjunction with the music editor
            <span class="fw-bold"> 
              <a 
                href="https://en.wikipedia.org/wiki/ProTracker" 
                class="link-primary"
              > 
                ProTracker.
              </a>
            </span>
            This tracker uses different effect commands.
            <br><br>
            You can scan all used commands in a standard protracker module. 
            To get an overview, which effect commands are used, this tool is a very comfortable aid.
            <br><br>
            Have fun with it...
          </p>
        </div>
      </div>
    </div>
  </article>
</section>

<script src="/js/usedFxCmd/script.js"></script>