<section class="background-picture" id="contentHome">
  <div class="container text-center text-light-grey py-5">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <span class="navbar-brand mb-0"> UsedFxCmd </span>
      <div class="navbar-nav">
        <a class="nav-link" href="#contentAbout"> About </a>
      </div>
    </nav>
    <div class="row py-5 justify-content-around">
      <div class="col-10 col-md-4 pt-4 pb-2 mb-5 rounded container-opacity">
        <div class="container input-group mb-3 disable-text-shadow">
          <input type="file" class="w-75 rounded" id="inputGroupFile01">
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-10 col-md-5 py-4 mb-5 rounded container-opacity">
        <div class="container ufc-table-wrap">
          <table class="table table-borderless">
            <thead>
              <tr class="disable-text-shadow">
                <th scope="col" class="text-colored bg-light rounded p-1"> Used commands </th>
            </thead>
            <tbody class="text-light" id="commandsTableBody">
          <!--<tr class"text-left">
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-10 col-md-5 py-4 rounded mb-5 container-opacity">
        <div class="container ufc-table-wrap">
          <table class="table table-borderless">
            <thead>
              <tr class="disable-text-shadow">
                <th scope="col" class="text-dark-grey bg-light rounded p-1"> Used extended commands </th>
            </thead>
            <tbody class="text-light" id="extendedCommandsTableBody">
          <!--<tr class="text-left">
                <td></td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
</section>

<section id="contentAbout">
  <div class="container pt-5 pb-0">
    <h2 class="text-center text-colored pt-4"> About... UsedFxCmd </h2>
    <div class="row py-3 justify-content-center">
      <div class="col-10 col-md-9 pt-3 pb-4 mb-0">
        <p class="text-justify">
          The tool <span class="fw-bold"> SearchFxCmd </span> is used in conjunction with the music editor
          <span class="fw-bold"> Protracker </span>. This
          tracker uses different effect commands.
          <br>
          <br>
          You can scan all used commands in a standard protracker module. To get an overview, which effect commands are
          used, this tool is a very comfortable aid.
          <br>
          <br>
          Have fun with it...
        </p>
      </div>
    </div>
  </div>
</section>

<script src="/js/usedfxcmd.js"></script>