<section id="content-home" class="used-fx-commands">
  <div class="container text-center py-5">
    <nav
      class="[ used-fx-commands__navigation ] [ navbar navbar-expand-sm navbar-dark ps-4 ]"
    >
      <span class="navbar-brand mb-0"> Used Fx Commands </span>
      <div class="navbar-nav">
        <a href="#content-about" class="nav-link mx-2">
          About
        </a>
      </div>
    </nav>
    <div class="row py-5 justify-content-around">
      <div
        class="[ used-fx-commands__file-loader ] [ col-10 col-md-4 pt-4 pb-2 rounded mb-5 ]"
      >
        <div class="container input-group mb-3 disable-text-shadow">
          <input type="file" id="input-file" class="w-100 rounded" />
        </div>
      </div>
      <div class="w-100"></div>
      <div
        class="[ used-fx-commands__results ] [ col-10 col-md-5 py-4 mb-5 rounded ]"
      >
        <div class="[ used-fx-commands__results__commands ] [ container ]">
          <table class="table table-borderless">
            <thead>
              <tr class="disable-text-shadow">
                <th
                  scope="col"
                  class="[ used-fx-commands__results__commands__table-header ] [ text-center text-dark-grey bg-light rounded p-1 ]"
                >
                  Used commands
                </th>
              </tr>
            </thead>
            <tbody
              id="commands-table-body"
              class="text-light bg-secondary text-center"
            >
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="[ used-fx-commands__results ] [ col-10 col-md-5 py-4 rounded mb-5 ]"
      >
        <div
          class="[ used-fx-commands__results__extended-commands ] [ container ]"
        >
          <table class="table table-borderless">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="[ used-fx-commands__results__extended-commands__table-header ] [ text-center text-light bg-secondary rounded p-1 ]"
                >
                  Used extended commands
                </th>
              </tr>
            </thead>
            <tbody
              id="extended-commands-table-body"
              class="text-light text-center"
            >
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content-about">
  <article class="container pt-5 pb-5">
    <header class="used-fx-commands__about__header">
      <h2 class="pt-4"> About... Used Fx Commands </h2>
    </header>
    <div class="w-75 py-3">
      <p class="text-justify">
        The tool
        <span class="fw-bold">
          SearchFxCmd
        </span>
        is used in conjunction with the music editor
        <span class="fw-bold">
          <a
            href="https://en.wikipedia.org/wiki/ProTracker"
            class="used-fx-commands__about__link"
          >
            ProTracker.
          </a>
        </span>
        This tracker uses different effect commands.
      </p>
      <p>
        You can scan all used commands in a loaded standard ProTracker module.
        To get an overview, which effect commands are used in the patterns of a
        module, this tool is a very comfortable aid.
      </p>
    </div>
  </article>
</section>

<script src="/js/usedFxCommands/script.js"></script>