<section class="backgroundPicture" id="volmeslideContentHome">
  <div class="container text-center textLightGrey py-5">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <span class="navbar-brand mb-0"> VolSlideStep </span>
      <div class="navbar-nav">
        <a class="nav-link" href="#contentAbout"> About </a>
        <a class="nav-link" href="#contentHelp"> Help </a>
      </div>
    </nav>
    <div class="row py-5 justify-content-around">
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded containerOpacity">
        <h4 class="mb-2"> Song speed </h4>
        <div>
          <input type="number" class="rounded text-center groupChange" id="ticsButton" value="6" min="1" max="31" title="Song speed ranges from 1 to 31">
          <span> tic(s) per row </span>
        </div>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded containerOpacity">
        <h4 class="mb-2"> Instrument Volume </h4>
        <div>
          <input type="number" class="rounded text-center groupChange" id="instrumentVolumeButton" value="64" min="1" max="64" title="Instrument volume ranges from 1 to 64">
          <span> volume level </span>
        </div>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded containerOpacity">
        <h4 class="mb-2"> Volume Slide </h4>
        <div>
          <input type="number" class="rounded text-center groupChange" id="unitsButton" value="1" min="1" max="15" title="ber units of units per command ranges from 1 to 15">
          <span> unit(s) per command </span>
        </div>    
      </div>
      <div class="w-100"></div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 rounded containerOpacity">
        <h4 class="mb-2"> Volume Slide </h4>
        <div id="commandsResultContainer">
          <span class="textColored h5" id="commandsResult" title="ber of commands ranges from 1 to 64"> 0 </span>
          <span> command(s) per row </span>
        </div>
          <div>
          <input type="checkbox" id="finevolumeSlideCheckbox"/>
          <label for="finevolumeSlideCheckbox"> Fine Volume Slide </label>
        </div>
      </div>
      <div class="col-10 col-md-5 pt-3 pb-4 mb-5 d-none rounded containerOpacity" id="finevolumeSlideContainer">
        <h4 class="mb-2"> Fine Volume Slide </h4>
        <div id="unitsResultContainer">
          <span class="textColored h5" id="unitsResult" title="ber of units ranges from hex 1 to f"> 0 </span>
          <span> unit(s) per command </span>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col-10 col-md-5 py-2 mb-5 rounded justify-content-center">
        <div class="row justify-content-around">
          <button type="button" class="btn btn-secondary w-25" id="resetButton" title="Reset to default values"> Reset </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contentAbout">
  <div class="container pt-5 pb-4">
    <h2 class="text-center textColored pt-5"> About... VolSlideStep </h2>
    <div class="row py-3 justify-content-center">
      <div class="col-10 col-md-9 pt-3 pb-4 mb-0">
        <p class="text-justify">
          The tool <span class="font-weight-bold"> VolSlideStep </span> is used in conjunction with the music editor <span class="fw-bold">Protracker</span>. This 
          tracker uses the effect commands <span class="fw-bold"> Volume Slide / Fine Volume Slide </span> which do a linear slide up or down.
          The only difference between them is when they are executed. <span class="fw-bold"> Fine Volume Slide </span> is executed every first tic whereas 
          <span class="fw-bold"> Volume Slide</span> the rest of the tics, song_speed-1 times.
          The arguments for these commands are called <span class="fw-bold"> number of units </span> 
          and are given as hex numbers. This value is added to or substracted of the current instrument volume value.
          <br>
          <br>
          To get the right number of commands for <span class="fw-bold"> Volume Slide </span> and the units for  <span class="fw-bold">Fine Volume Slide </span>
          for a complete slide up or down, this tool is a very comfortable aid.
          <br>
          <br>
          Have fun with it...
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bgColorLight" id="contentHelp">
  <div class="container pt-5 pb-4">
    <h2 class="text-center textLightGrey pt-5"> VolSlideStep Help </h2>
    <div class="row py-3 text-white justify-content-center">
      <div class="col-10 col-md-9 pt-3 pb-4 mb-0">
        <p class="text-justify">
          This tool works with two output results:
          <br>
          <br>
          1. One output for the case that only the command <span class="fw-bold"> Volume Slide </span> is used.
          <br>
          2. If the volume slide should be more precise, then <span class="fw-bold"> Fine Volume Slide </span> can be enabled by the checkbox. 
          <br>
          <br>
          You can toggle between these two modes by setting or unsetting the checkbox.
          <br>
          <br>
          The units of the command <span class="fw-bold">Fine Volume Slide </span> are used for the remainder of the division to calculate the 
          <span class="fw-bold">Volume Slide </span> commands per row. The fine slide units are only for one <span class="fw-bold">Fine Volume Slide</span> 
          command. If fine slide values are disabled, then the number of <span class="fw-bold"> Volume Slide </span> 
          commands is rounded upwards to the nearest integer.
        </p>
      </div>
    </div>
  </div>
</section>

<script src="/js/volslidestep.js"></script>