body {
  font-family: Roboto;
}

/* own classes */
.is-link {
  text-decoration: none;
}
.is-link:hover {
  color: rgb(122, 122, 122);
}

.is-width-full {
  width: 100%;
}

/*.is-container-opacity 
 * background: rgba(0, 0, 0, 0.8)*/
.is-without-shadow {
  text-shadow: none;
}

.is-height-md {
  height: 12rem;
}

.is-height-lg {
  height: 22rem;
}

.is-table-wrap {
  overflow-y: scroll;
}
.is-table-wrap th {
  position: sticky;
  top: 0px;
}

.is-dark-grey {
  color: rgb(116, 116, 218);
}

.is-grey {
  color: rgb(122, 122, 122);
}

.is-light-grey {
  color: rgb(202, 200, 200);
}

.is-red {
  color: red;
}

.is-bg-color-light {
  background-color: rgb(116, 116, 218);
}

.is-bg-color-dark {
  background-color: rgb(63, 63, 129);
}

.has-background-image {
  text-shadow: 0px 0px 1px black;
  background-image: url("../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.has-no-list-markers {
  list-style: none;
}

/* Bootstrap classes */
.btn-primary {
  background-color: rgb(116, 116, 218);
  border-color: rgb(116, 116, 218);
}
.btn-primary:hover {
  background-color: rgb(81, 57, 189);
  border-color: rgb(81, 57, 189);
}
.btn-primary:focus {
  background-color: rgb(116, 116, 218);
  border-color: rgb(116, 116, 218);
}
.btn-primary:focus:hover {
  background-color: rgb(81, 57, 189);
  border-color: rgb(81, 57, 189);
}

.navbar .navbar-brand {
  color: rgb(116, 116, 218);
}
.navbar .navbar-brand:hover {
  color: rgb(81, 57, 189);
}

.link-primary {
  color: rgb(131, 107, 239);
}
.link-primary:hover {
  color: rgb(81, 57, 189);
}