body {
  font-family: Roboto;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(122, 122, 122);
}

textarea {
  width: 100%
}

/* own classes */

.backgroundPicture {
  text-shadow: 0px 0px 1px black;
  background-image: url("../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.containerOpacity {
  background: rgba(0, 0, 0, 0.8);
}

.disableTextShadow {
  text-shadow: none;
}

.noListMarkers {
  list-style: none;
}

.sfcTableWrap {
  overflow-y: scroll;
  height: 12rem;
}

.sfcTableWrap th {
  position: sticky;
  top: 0px;
}

.ufcTableWrap {
  overflow-y: scroll;
  height: 22rem;
}

.ufcTableWrap th {
  position: sticky;
  top: 0px;
}

.textColored {
  color: rgb(116, 116, 218);
}

.textLightGrey {
  color: rgb(202, 200, 200);
}

.textDarkGrey {
  color: rgb(122, 122, 122);
}

.textRed {
  color: red;
}

.bgColorLight {
  background-color: rgb(116, 116, 218);
}

.bgColorDark {
  background-color: rgb(63, 63, 129);
}

#finevolumeSlideCheckbox:checked {
  background-color: rgb(81, 57, 189);
}

/* Bootstrap classes */

.btn-primary {
  background-color: rgb(116, 116, 218);
  border-color: rgb(116, 116, 218);
}

.btn-primary:hover {
  background-color: rgb(81, 57, 189);
  border-color: rgb(81, 57, 189);
}

.btn-primary:focus {
  background-color: rgb(116, 116, 218);
  border-color: rgb(116, 116, 218);
}

.btn-primary:focus:hover {
  background-color: rgb(81, 57, 189);
  border-color: rgb(81, 57, 189);
}

.navbar .navbar-brand {
  color: rgb(116, 116, 218);
}

.navbar .navbar-brand:hover {
  color: rgb(81, 57, 189);
}