@import "../base/variables"

.home
  text-shadow: 0px 0px 1px black
  background-image: url("../../../images/mixer-821537_640x423.jpg")
  background-color: grey
  background-size: cover
  background-repeat: no-repeat
  background-attachment: fixed
  color: $silver
  &__title
    background: rgba(0, 0, 0, 0.8)
  &__about
    &__header
      color: $medium-purple
    &__link
      text-decoration: none
    &__list
      list-style: none
