body {
  background-color: rgb(248, 249, 250);
  font-family: Roboto;
}

.btn-primary {
  background-color: rgb(81, 57, 189);
  border-color: rgb(81, 57, 189);
}
.btn-primary:hover {
  background-color: rgb(116, 116, 218);
  border-color: rgb(116, 116, 218);
}
.btn-primary:focus {
  background-color: rgb(81, 57, 189);
  border-color: rgb(81, 57, 189);
}
.btn-primary:focus:hover {
  background-color: rgb(116, 116, 218);
  border-color: rgb(116, 116, 218);
}

.navbar .navbar-brand {
  color: rgb(116, 116, 218);
}
.navbar .navbar-brand:hover {
  color: rgb(131, 107, 239);
}

.link-primary {
  color: rgb(81, 57, 189);
}
.link-primary:hover {
  color: rgb(131, 107, 239);
}

.layout__footer {
  background-color: rgb(81, 57, 189);
}
.layout__footer__link {
  text-decoration: none;
  color: rgb(202, 200, 200);
}
.layout__footer__link:hover {
  color: rgb(248, 249, 250);
}

.home {
  text-shadow: 0px 0px 1px black;
  background-image: url("../../../images/mixer-821537_640x423.jpg");
  background-color: rgb(81, 57, 189);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(202, 200, 200);
}
.home__title {
  background: rgba(0, 0, 0, 0.8);
}
.home__about__header {
  color: rgb(81, 57, 189);
}
.home__about__link {
  text-decoration: none;
}
.home__about__list {
  list-style: none;
}

.tone-portamento-step {
  text-shadow: 0px 0px 1px black;
  background-image: url("../../../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(202, 200, 200);
}
.tone-portamento-step__navigation {
  background: rgba(0, 0, 0, 0.8);
}
.tone-portamento-step__source-note {
  background: rgba(0, 0, 0, 0.8);
}
.tone-portamento-step__destination-note {
  background: rgba(0, 0, 0, 0.8);
}
.tone-portamento-step__song-speed {
  background: rgba(0, 0, 0, 0.8);
}
.tone-portamento-step__tone-portamento {
  background: rgba(0, 0, 0, 0.8);
}
.tone-portamento-step__result {
  background: rgba(0, 0, 0, 0.8);
}
.tone-portamento-step__result__units-per-command {
  color: rgb(116, 116, 218);
}
.tone-portamento-step__about__header {
  color: rgb(116, 116, 218);
}
.tone-portamento-step__about__link {
  color: rgb(81, 57, 189);
  text-decoration: none;
}
.tone-portamento-step__about__link:hover {
  color: rgb(116, 116, 218);
}
.tone-portamento-step__help {
  background-color: rgb(116, 116, 218);
}
.tone-portamento-step__help__header {
  color: rgb(248, 249, 250);
}

.volume-slide-step {
  text-shadow: 0px 0px 1px black;
  background-image: url("../../../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(202, 200, 200);
}
.volume-slide-step__navigation {
  background: rgba(0, 0, 0, 0.8);
}
.volume-slide-step__song-speed {
  background: rgba(0, 0, 0, 0.8);
}
.volume-slide-step__instrument-volume {
  background: rgba(0, 0, 0, 0.8);
}
.volume-slide-step__volume-slide {
  background: rgba(0, 0, 0, 0.8);
}
.volume-slide-step__result {
  background: rgba(0, 0, 0, 0.8);
}
.volume-slide-step__result__number-of-commands {
  color: rgb(116, 116, 218);
}
.volume-slide-step__result__units-per-command {
  color: rgb(116, 116, 218);
}
.volume-slide-step__result__fineslide:checked {
  accent-color: rgb(116, 116, 218);
}
.volume-slide-step__about__header {
  color: rgb(116, 116, 218);
}
.volume-slide-step__about__link {
  color: rgb(81, 57, 189);
  text-decoration: none;
}
.volume-slide-step__about__link:hover {
  color: rgb(116, 116, 218);
}
.volume-slide-step__help {
  background-color: rgb(116, 116, 218);
}
.volume-slide-step__help__header {
  color: rgb(248, 249, 250);
}

.search-fx-commands {
  text-shadow: 0px 0px 1px black;
  background-image: url("../../../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(202, 200, 200);
}
.search-fx-commands__navigation {
  background: rgba(0, 0, 0, 0.8);
}
.search-fx-commands__file-loader {
  background: rgba(0, 0, 0, 0.8);
}
.search-fx-commands__search-command {
  background: rgba(0, 0, 0, 0.8);
}
.search-fx-commands__search-extended-command {
  background: rgba(0, 0, 0, 0.8);
}
.search-fx-commands__results {
  background: rgba(0, 0, 0, 0.8);
}
.search-fx-commands__results__details {
  height: 22rem;
  overflow-y: scroll;
}
.search-fx-commands__results__details__table-header {
  position: sticky;
  top: 0px;
  color: rgb(122, 122, 122);
}
.search-fx-commands__about__header {
  color: rgb(116, 116, 218);
}
.search-fx-commands__about__link {
  color: rgb(81, 57, 189);
  text-decoration: none;
}
.search-fx-commands__about__link:hover {
  color: rgb(116, 116, 218);
}
.search-fx-commands__help {
  background-color: rgb(116, 116, 218);
}
.search-fx-commands__help__header {
  color: rgb(248, 249, 250);
}

.used-fx-cmd {
  text-shadow: 0px 0px 1px black;
  background-image: url("../../../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: rgb(202, 200, 200);
}
.used-fx-cmd__file-loader {
  background: rgba(0, 0, 0, 0.8);
}
.used-fx-cmd__result-container {
  background: rgba(0, 0, 0, 0.8);
}
.used-fx-cmd__result-container__commands {
  height: 22rem;
  overflow-y: scroll;
}
.used-fx-cmd__result-container__commands__table-header {
  position: sticky;
  top: 0px;
  color: rgb(116, 116, 218);
}
.used-fx-cmd__result-container__extended-commands {
  height: 22rem;
  overflow-y: scroll;
}
.used-fx-cmd__result-container__extended-commands__table-header {
  position: sticky;
  top: 0px;
  color: rgb(122, 122, 122);
}
.used-fx-cmd__about__header {
  color: rgb(122, 122, 122);
}
.used-fx-cmd__about__link {
  text-decoration: none;
}

.contact {
  text-shadow: 0px 0px 1px black;
  background-image: url("../images/mixer-821537_640x423.jpg");
  background-color: grey;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.contact__title {
  color: rgb(202, 200, 200);
}
.contact__error-message {
  color: red;
}
.contact__form {
  background: rgba(0, 0, 0, 0.8);
}