$vista-white: rgb(248,249,250)
$dove-grey: rgb(122, 122, 122)
$medium-purple: rgb(116, 116, 218)
$silver: rgb(202, 200, 200)
$purple-haze: rgb(63, 63, 129)
$blue-purple: rgb(81, 57, 189)
$royal-blue: rgb(131,107,239)

$background-image: "../../../images/mixer-821537_640x423.jpg"